<template lang="pug">

  .app_wrapper
    app-header(
      :title="header_title"
      :is_back="true",
      :is_updated="is_content_updated"
      :is_doc="true"
    )

    main.document
      simplebar(data-simplebar-auto-hide="false")
        aside(:class="[{'--active' : is_aside_show}, {'--dark' : getTheme}, 'document_aside']")

          button.aside_expander(
            @click="showHideAside"
            :title="is_aside_show ? 'Collapse navigation panel' : 'Expand navigation panel'"
          )
            icon-back

          nav.aside_nav_wrapper
            header.aside_nav_header Document structure
            simplebar(data-simplebar-auto-hide="false")
              document-aside(:aside="aside" :active="active_header" @update-active="updateActiveHeader")

        div(:class="[{'--dark' : getTheme}, 'document_editor']")
          .document_container
            app-editor(
              v-for="(item, index) in content_arr"
              :key="index"
              :content="item.content"
              :description="item.description"
              :meta="{ document_id: $route.params.id, part_id: item.part_id, index: index }"
              @content-updated="contentUpdated"
            )

</template>

<script>

import { mapGetters } from 'vuex'
import functions from '@/functions.js'
import simplebar from 'simplebar-vue'
import AppHeader from '@/components/AppHeader.vue'
import DocumentAside from '@/components/DocumentAside.vue'
import IconBack from '@/components/icons/IconBack.vue'
import AppEditor from '@/components/AppEditor.vue'

export default {
  name: 'AppDocument',

  components: {
    simplebar,
    AppHeader,
    DocumentAside,
    IconBack,
    AppEditor
  },

  computed: {
    ...mapGetters(['getTheme', 'getSingleDocument'])
  },

  data() {
    return {
      header_title: '',

      is_aside_show: false,

      aside: [],

      content_arr: [],

      is_content_updated: false,

      active_header: 0
    }
  },

  created() {
    this.getDocument()
  },
  
  methods: {
    updateActiveHeader(val) {
      this.active_header = val
    },

    showHideAside() {
      return this.is_aside_show ? this.is_aside_show = false : this.is_aside_show = true
    },

    getDocument() {
      let doc = this.$store.state.documents.find(doc => doc.document_id == this.$route.params.id)
      let heads_arr = this.$store.state.headings.find(head => head.document_id == this.$route.params.id)

      if (doc) {
        this.getInitData(doc.document_title, heads_arr.headings, doc.document_content)
      } else {
        this.axios.get(`/mocks/${this.$route.params.id}.json`)
          .then(response => {
            this.getInitData(response.data.title, response.data.contents)
          })
          .catch(error => {
            console.error(error)
          })
      }
    },

    async getContentParts(arr) {
      let content_arr = []

      if (Array.isArray(arr)) {
        for (const el of arr) {
          try {
            content_arr.push(
              {
                part_id: el.id,
                description: el.description,
                content: await this.axios.get(`/mocks/${this.$route.params.id}/${el.id}.json`).then(response => response.data)
              },
              ...await this.getContentParts(el.children)
            )
          } catch(e) {
            console.error(e)
          }
        }
      }
      
      return this.content_arr = content_arr
    },

    getInitData(title, headings, content) {
      this.header_title = title
      this.aside = headings
      let is_exist = content ? true : false

      if (!is_exist) {
        let payload = {
          document_id: this.$route.params.id,
          headings: [...headings]
        }

        this.$store.dispatch('storeHeadings', payload)
        this.getContentParts(headings).then(result => this.setInitData(result, title, is_exist))
      } else {
        this.content_arr = content
        setTimeout(() => this.setInitData(content, title, is_exist), 100)
      }
    },

    setInitData(content, title, is_exist) {
      let payload = {
        document_title: title,
        document_content: content,
        document_id: this.$route.params.id
      }

      if (!is_exist) this.$store.dispatch('storeDocument', payload)
      setTimeout(() => {
        this.initScrollHandler()
      }, 1000);
    },

    initScrollHandler() {
      let scroll_container = document.querySelector('.simplebar-content-wrapper')
      let headers_counter = 0
      let last_scroll_top = 0
      //if (scroll_container.querySelector('.document_container').children.item(0).nodeName.split('')[0].toLowerCase() === 'h') {
      //  functions.markCurrentChapter(0)
      //}

      scroll_container.addEventListener('scroll', () => {
        let top = scroll_container.scrollTop
        let html_nodes = scroll_container.querySelectorAll('.editor_block')

        if (last_scroll_top < top && top >= html_nodes.item(this.active_header).offsetTop) {
          functions.markCurrentChapter(this.active_header)
          this.active_header < html_nodes.length - 1 ? this.active_header++ : this.active_header = html_nodes.length - 1
        }

        if (last_scroll_top > top && top <= html_nodes.item(this.active_header).offsetTop + html_nodes.item(this.active_header).offsetHeight) {
          functions.markCurrentChapter(this.active_header)
          this.active_header > 0 ? this.active_header-- : this.active_header = 0
        }
        
        last_scroll_top = top
      })
    },

    contentUpdated(val) {
      this.is_content_updated = val
      setTimeout(() => this.is_content_updated = false, 3000)
    }
  }
}

</script>

<style lang="scss" scoped>

@import '@/scss/mixins.scss';

.document_aside {
  position: fixed;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: $light_color;
  height: calc(100vh - 131px);
  top: 121px;
  left: 0;
  padding: 30px 20px 0;
  width: 350px;
  transform: translate3d(-100%, 0, 0);
  transition: transform .25s cubic-bezier(.25,.46,.45,.94);

  &.--active {
    transform: translate3d(0, 0, 0);
    transition: transform .25s cubic-bezier(.25,.46,.45,.94);

    .aside_expander {
      transform: translateX(50%) rotate(0deg);
      transition: all .25s cubic-bezier(.25,.46,.45,.94);

      ._icon {
        left: -1px;
        transition: all .25s cubic-bezier(.25,.46,.45,.94);
      }
    }

    @media screen and (max-width: 1599px) {
      & + .document_editor {
        transform: translateX(175px);
        transition: transform .25s cubic-bezier(.25,.46,.45,.94);
      }
    }
  }

  &.--dark {
    background-color: $body_text;
    color: $light_color;

    .aside_expander {
      background-color: $body_text;
      box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 3px 1px;

      ._icon {
        fill: $light_color;
      }

      &:hover {
        background-color: $light_color;
        transition: all .25s cubic-bezier(.25,.46,.45,.94);

        ._icon {
          fill: $body_text;
          transition: all .25s cubic-bezier(.25,.46,.45,.94);
        }
      }
    }
  }
}

.aside_expander {
  position: absolute;
  right: 0;
  top: 9px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  outline: none;
  background-color: $light_color;
  padding: 0;
  transform: translateX(50%) rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .25s cubic-bezier(.25,.46,.45,.94);

  &:hover {
    background-color: $body_text;
    transition: all .25s cubic-bezier(.25,.46,.45,.94);

    ._icon {
      fill: $light_color;
      transition: all .25s cubic-bezier(.25,.46,.45,.94);
    }
  }

  ._icon {
    width: 35%;
    height: 35%;
    display: block;
    position: relative;
    left: -10px;
    transition: all .25s cubic-bezier(.25,.46,.45,.94);
  }
}

.aside_nav_wrapper {
  height: calc(100% - 30px);
  padding-bottom: 30px;
}

.aside_nav_header {
  padding-bottom: 10px;
  border-bottom: 1px solid $light_text;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.document_editor {
  background-color: $light_color;
  width: 100%;
  max-width: 795px;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  min-height: 100vh;
  padding: 15px;
  margin-bottom: 15px;
  transition: transform .25s cubic-bezier(.25,.46,.45,.94);

  &.--dark {
    background-color: $body_text;
    color: $light_color;
  }
}

.document_container {
  min-height: calc(100vh - 30px);
  padding: 70px 10px 100vh 60px;
}

</style>