<template lang="pug">
  
  #app_wrapper
    app-header(
      :title="header_title"
      :is_main="true"
    )

    main.home
      simplebar(data-simplebar-auto-hide="false")
        .container
          ul.columns.app_contents(v-if="getLayoutType")
            li.column.is-one-fifth.app_contents_item(
              v-for="item in getTableContents"
              :key="item.id"
            )
              content-card(:card="item")

          b-table(
            v-else
            :data="getTableContents"
            :default-sort="getTableContents.title"
            :class="[{'--dark' : getTheme}, 'app_contents_table']"
            hoverable
            @click="openDocument"
          )
            template(slot-scope="props")
              b-table-column(field="title" label="Title" sortable) {{ props.row.title }}
              b-table-column(field="created_at" label="Created" sortable) {{ props.row.created_at | formatCreatedDate }}
              b-table-column(field="updated_at" label="Updated" sortable) {{ props.row.updated_at | formatUpdatedDate }}
        
</template>

<script>

import { mapGetters } from 'vuex'
import app_filters from '@/filters.js'
import simplebar from 'simplebar-vue'
import AppHeader from '@/components/AppHeader.vue'
import ContentCard from '@/components/ContentCard.vue'

export default {
  name: 'AppHome',

  components: {
    simplebar,
    AppHeader,
    ContentCard
  },

  computed: {
    ...mapGetters(['getTheme', 'getLayoutType', 'getTableContents'])
  },

  data() {
    return {
      header_title: 'Embria test editor'
    }
  },

  methods: {
    openDocument(e) {
      this.$router.push({ path: `/document/${e.id}` })
    }
  },

  watch: {
		'$store.getters.getLayoutType': {
			immediate: true,
			handler() {
        this.layout_type = this.$store.getters.getLayoutType
			}
		}
	}
}
</script>

<style lang="scss" scoped>

@import '@/scss/mixins.scss';

.app_contents {
  margin-top: 0;
}

</style>