<template lang="pug">

  .editor_block(
    @mouseenter="showHideDescription($event, getTheme)"
    @mouseleave="showHideDescription($event, getTheme)"
  )

    app-editor-nav(
      v-show="is_editor_focused"
      :editor="editor"
      :link_menu_is_active="link_menu_is_active",
      :linkUrl="linkUrl"
      :image_menu_is_active="image_menu_is_active"
      @show-link-menu="showLinkMenu"
      @hide-link-menu="hideLinkMenu"
      @show-image-menu="showImageMenu"
      @hide-image-menu="hideImageMenu"
      @leave-link-input="leaveLinkInput"
      @leave-image-input="leaveImageInput"
      @set-link-url="setLinkUrl"
      @set-image-src="setImageSrc"
    )

    editor-content(
      :editor="editor"
      spellcheck="false"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
    )

    div(:class="[{'--active' : is_editor_focused}, 'editor_new']")
      button.editor_new_action(
        title="Add new content block"
        @click="showHideForm"
      )
        icons-editor(name="plus")

      div(:class="[{ '--active' : is_add_form_active }, 'tooltip_form']")
        ._formgroup
          button(
            class="button"
            @click="appendNewContentBlock(true)"
            title="Before this"
          )
            icons-editor(name="angle")
          button(
            class="button"
            title="After this"
            @click="appendNewContentBlock(true)"
          )
            icons-editor(name="angle" style="transform: rotate(180deg)")

</template>

<script>

import { mapGetters } from 'vuex'
import AppEditorNav from '@/components/AppEditorNav.vue'
import IconsEditor from '@/components/icons/IconsEditor.vue'

import {
  Editor,
  EditorContent,
  EditorMenuBar,
  EditorMenuBubble
} from 'tiptap'

import {
  Blockquote,
  HorizontalRule,
  Heading,
  OrderedList,
  BulletList,
  ListItem,
  Bold,
  Italic,
  Link,
  Image,
  Table,
  TableHeader,
  TableCell,
  TableRow,
  Strike,
  Underline,
  History
} from 'tiptap-extensions'

export default {
	name: 'AppEditor',

	components: {
		AppEditorNav,
    EditorContent,
    EditorMenuBar,
    EditorMenuBubble,
    IconsEditor
  },

	props: {
		content: {
			type: String,
			required: true
    },

    description: {
      type: String,
      required: false
    },
    
    meta: {
      type: Object,
      required: true
    }
	},

	computed: {
    ...mapGetters(['getTheme'])
  },

	data() {
		return {
			editor: new Editor({
        editable: true,

        extensions: [
          new Blockquote(),
          new HorizontalRule(),
          new Heading({ levels: [1, 2, 3] }),
          new BulletList(),
          new OrderedList(),
          new ListItem(),
          new Bold(),
          new Italic(),
          new Link(),
          new Image(),
          new Table({ resizable: true }),
          new TableHeader(),
          new TableCell(),
          new TableRow(),
          new Strike(),
          new Underline(),
          new History()
        ],

        content: this.content,
        
        onInit: ({ view }) => {
          setTimeout(() => {
            this.init_content = this.editor.getJSON().content ? this.getInitContent(this.editor.getJSON().content) : ''
            setInterval(() => {
              if (this.getInitContent(this.editor.getJSON().content) !== this.init_content) {
                this.saveNewContent(this.editor.getHTML())
                this.init_content = this.getInitContent(this.editor.getJSON().content)
              }
            }, 10000)
          }, 1000)
        },
				
				onFocus: () => {
          this.is_editor_focused = true
				},

				onBlur: ({ event, view }) => {
					let is_related = event.relatedTarget
					
					if (is_related) {
						if (!event.relatedTarget.classList.contains('editor_menubar_button')) this.is_editor_focused = false
					}	else {
						this.is_editor_focused = false
					}				
				}
      }),
      
      init_content: '',
			
			link_menu_is_active: false,

			linkUrl: '',

			is_linkbutton_focused: false,

			image_menu_is_active: false,

      is_editor_focused: false,
      
      is_add_form_active: false
		}
	},

	methods: {
    showHideDescription(e, is_dark) {
      if (e.type === 'mouseenter') return this.showToast(3000, is_dark ? 'is-dark' : 'is-light', this.description,'is-top-right')
      if (document.querySelector('.toast')) document.querySelector('.toast').remove()
    },

    getInitContent(content_object) {
      let string_content = content_object.map(el => el.content ? this.getInitContent(el.content) : el.text)
      return [].concat(...string_content).join('').toLowerCase()
    },

    appendNewContentBlock(val) {
      this.showSnackBar('This functionality is under development.', 'is-warning', 'OK')
    },
    
    showLinkMenu(attrs) {
      this.linkUrl = attrs.href
      this.link_menu_is_active = this.is_linkbutton_focused = true
    },

		hideLinkMenu() {
			this.linkUrl = ''
      this.link_menu_is_active = this.is_linkbutton_focused = false
    },
    
    showImageMenu(val) {
      this.image_menu_is_active = this.is_linkbutton_focused = val
    },

    hideImageMenu() {
      this.linkUrl = ''
      this.image_menu_is_active = this.is_linkbutton_focused = false
    },

    leaveLinkInput(e) {
      if (e.relatedTarget) {
        if (e.relatedTarget.classList.contains('_check')) return e.relatedTarget.click()
        if (e.relatedTarget.classList.contains('_close')) return this.hideLinkMenu()
        return this.hideLinkMenu()
      }

      return this.hideLinkMenu()
    },

    leaveImageInput(payload) {
      if (payload.e.relatedTarget) {
        if (payload.e.relatedTarget.classList.contains('_check')) return this.setImageSrc(payload)
        if (payload.e.relatedTarget.classList.contains('_close')) return this.hideImageMenu()
        return this.hideImageMenu()
      }

      return this.hideImageMenu()
    },

		setLinkUrl(payload) {
      payload.command({ href: payload.url })
      setTimeout(() => { this.hideLinkMenu() }, 100)
		},

    setImageSrc(payload) {
      if (payload.src) {
        let src = payload.src
        payload.command({ src })
        setTimeout(() => { this.hideImageMenu() }, 100)
      }
    },

    showHideForm() {
      return this.is_add_form_active = this.is_add_form_active ? false : true
    },
		
		saveNewContent(html) {
      let data_to_send = {
        id: this.meta.part_id,
        content: html
      }

      /**
       * Api endpoint example: 'api/[DOCUMENT_ID]/[PART_ID]'
       */
      this.axios({
        method: 'POST',
        url: `/api/${this.meta.document_id}/${this.meta.part_id}`,
        data: data_to_send
      })
      .then(response => {
        this.$emit('content-updated', true)
        this.$store.dispatch('storeChangedDocument', { doc_id: this.meta.document_id, part_id: this.meta.part_id, content: html })
      })
      .catch(error => {
        console.error(error)
        /**
         * Code below is for no-server-demo only. It should be in 'then' method
         */
        this.$emit('content-updated', true)
        this.$store.dispatch('storeChangedDocument', { doc_id: this.meta.document_id, part_id: this.meta.part_id, content: html })
      })
    },

    showSnackBar(message, type, button) {
			this.$buefy.snackbar.open({
				message: message,
				type: type,
				position: 'is-bottom-right',
				actionText: button,
				queue: false
			})
    },
    
    showToast(duration, type, message, position) {
      this.$buefy.toast.open({
        duration: duration,
        type: type,
        message: message,
        position: position        
      })
    }
	}
}

</script>

<style lang="scss" scoped>

@import '@/scss/mixins.scss';

.editor_block {
  position: relative;

  &:hover {

    .editor_new {
      opacity: 1;
      transition: all 0.2s linear;
    }
  }

  & + .editor_block {
    margin-top: -30px;
  }
}

.editor_new {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translate(50%, -50%);
  opacity: 0;
  z-index: 100;
  transition: all 0.2s linear;

  &.--active  {
    opacity: 1;
    transition: all 0.2s linear;
  }

  &:hover {
    opacity: 1 !important;
    transition: all 0.2s linear;
  }

  .editor_new_action {
    border: 0;
    background-color: $light_color;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 0;
    margin: 3px 0;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: block;
    transition: background-color .25s cubic-bezier(.25,.46,.45,.94);

    ._icon {
      fill: $body_text;
      display: block;
      margin: 0 auto;
      width: 20px;
      height: 20px;
      transition: fill .25s cubic-bezier(.25,.46,.45,.94);
    }

    &:hover {
      background-color: $body_text;
      transition: background-color .25s cubic-bezier(.25,.46,.45,.94);

      ._icon {
        fill: $light_color;
        transition: fill .25s cubic-bezier(.25,.46,.45,.94);
      }
    }
  }
}

.tooltip_form {
  top: 100%;

  ._formgroup {

    .button {
      cursor: pointer;

      ._icon {
        width: 80%;
        height: 80%;
        display: block;
      }
    }
  }
}

</style>