<template lang="pug">

  header(:class="[{'--dark' : getTheme}, 'header']")
    .container

      button.header_back(
        v-if="is_back"
        @click="$router.go(-1)"
        title="Back"
      )
        icon-back
      
      h1.header_title {{ title }}

      p.header_notification(v-if="is_updated") Changes saved successfully

      .header_layouts(v-if="is_main")
        button(
          :class="[{'--dark' : getTheme}, 'header_layouts_switcher']"
          @click="switchLayout"
          title="Switch layout"
        )
          icon-table(v-if="layout_type")
          icon-cards(v-else)

      .header_theme
        button(
          :class="[{'--dark' : getTheme}, 'theme_layouts_switcher']"
          @click="switchTheme"
          :title="getTheme ? 'Switch to light theme' : 'Switch to dark theme'"
        )
          span

</template>

<script>

import { mapGetters } from 'vuex'
import IconBack from '@/components/icons/IconBack.vue'
import IconCards from '@/components/icons/IconCards.vue'
import IconTable from '@/components/icons/IconTable.vue'

export default {
  name: 'AppHeader',

  components: {
    IconBack,
    IconCards,
    IconTable
  },

  props: {
    title: {
      type: String,
      required: true
    },

    is_back: {
      type: Boolean,
      default: false
    },

    is_main: {
      type: Boolean,
      requred: false
    },

    is_updated: {
      type: Boolean,
      required: false
    },

    is_doc: {
      type: Boolean,
      required: false
    }
  },

  computed: {
    ...mapGetters(['getTheme'])
  },

  data() {
    return {
      layout_type: true,

      is_dark_theme: false
    }
  },

  mounted() {
    this.layout_type = this.$store.getters.getLayoutType
    this.is_dark_theme = this.$store.getters.getTheme
  },

  methods: {
    switchLayout() {
      this.layout_type ? this.layout_type = false : this.layout_type = true
      return this.$store.dispatch('updateLayoutState', this.layout_type)
    },

    switchTheme() {
      this.is_dark_theme = this.is_dark_theme ? false : true
      return this.$store.dispatch('updateThemeStyle', this.is_dark_theme)
    }
  }
}

</script>

<style lang="scss" scoped>

@import  '@/scss/mixins.scss';

.header {
  background-color: $light_color;
  padding: 15px 0;
  position: relative;
  z-index: 1000;
  box-shadow: 0 7px 12px -2px rgba(60, 64, 67, 0.1);

  &.--dark {
    background-color: $body_text;
    color: $light_color;

    .header_back {

      ._icon {
        fill: $light_color;
      }

      &:hover {
        
        ._icon {
          fill: $primary_color;
        }
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
  }
}

.header_back {
  width: $header_sizes;
  height: $header_sizes;
  border: 0;
  padding: 0;
  flex: none;
  cursor: pointer;
  background-color: transparent;
  margin-right: 15px;

  ._icon {
    display: block;
    width: 55%;
    height: 55%;
    fill: $body_text;
    margin: auto;
  }

  &:hover {

    ._icon {
      fill: $primary_color;
    } 
  }
}

.header_title {
  font-size: 1.5rem;
  margin-right: 1rem;
  flex: none;
  position: relative;
  top: -2px;
  
  @media screen and (max-width: 991px) {
    width: 100%;
  }

  @media screen and (min-width: 992px) {
    width: 500px;
  }
}

.header_notification {
  color: $light_text;
}

.header_layouts,
.header_theme {
  margin-left: 15px;
  flex: none; width: $header_sizes;
  height: $header_sizes;
  margin-left: auto;
}

.header_layouts + .header_theme {
  margin-left: 5px;
}

.header_layouts_switcher {
  border: 1px solid $body_text;
  width: 100%;
  height: 100%;
  padding: 5px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: transparent;

  &:focus {
    border-color: $primary_color;
    box-shadow: 0 0 0 0.125em rgba(121, 87, 213, 0.25);
  }

  &.--dark {
    border-color: $light_color;

    ._icon {
      fill: $light_color;
    }
  }

  ._icon {
    width: 100%;
    height: 100%;
    display: block;
    fill: $body_text;
  }
}

.theme_layouts_switcher {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $body_text;
  border-radius: 3px;

  &:focus {
    border-color: $primary_color;
    box-shadow: 0 0 0 0.125em rgba(121, 87, 213, 0.25);
  }

  &.--dark {
    border-color: $light_color;

    span {
      background-color: $light_color;
    }
  }

  span {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid $body_text;
    background-color: $body_text
  }
}

</style>