<template lang="pug">

  div(:class="[{'--dark' : getTheme}, 'card content_card']")
    router-link(
      tag="a"
      class="content_card_link"
      :to="{ name: 'AppDocument', params: { id: card.id }}"
    )
      .card-body.content_card_body
        icon-text
      .card-footer.content_card_footer
        .content_card_title {{ card.title }}
        .content_card_author by {{ card.author }}
        span Created: {{ card.created_at | formatCreatedDate }}
        span Updated: {{ card.updated_at | formatUpdatedDate }}

</template>

<script>

import { mapGetters } from 'vuex'
import app_filters from '@/filters.js'
import IconText from '@/components/icons/IconText.vue'

export default {
  name: 'ContentCard',

  components: {
    IconText
  },

  props: {
    card: {
      type: Object,
      required: true
    }
  },

  computed: {
    ...mapGetters(['getTheme'])
  }
}

</script>

<style lang="scss" scoped>

@import '@/scss/mixins.scss';

.content_card {
  cursor: pointer;
  transition: box-shadow .2s cubic-bezier(.25,.46,.45,.94);

  &:hover {
    box-shadow: 0 7px 8px -2px rgba(9, 30, 66, 0.25), 0 0 3px 1px rgba(9, 30, 66, 0.08);
    transition: box-shadow .2s cubic-bezier(.25,.46,.45,.94);
  }

  &.--dark {
    background-color: $body_text;

    .content_card_body {

      ._icon {
        fill: $light_color;
      }

      &:hover {

        ._icon {
          fill: $light_text;
        }
      }
    }

    .content_card_title,
    .content_card_author {
      color: $light_color;
    }
  }
}

.content_card_link {
  display: flex;
  flex-direction: column;
  height: 350px;
}

.content_card_body {
  position: relative;
  height: 100%;

  &:hover {

    ._icon {
      fill: $body_text;
      transition: fill .2s cubic-bezier(.25,.46,.45,.94);
    }
  }

  ._icon {
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    fill: $light_text;
    transition: fill .2s cubic-bezier(.25,.46,.45,.94);
  }
}

.content_card_footer {
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  margin-top: auto;

  & > span {
    font-size: 0.75rem;
    color: $light_text;
  }
}

.content_card_title {
  color: $body_text;
  font-size: 1rem;
  font-weight: 500;
  flex: none;
  width: 100%;
  text-align: center;
}

.content_card_author {
  flex: none;
  width: 100%;
  color: $body_text;
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 10px;
}

</style>