<template lang="pug">

  ul(class="aside_nav_list")
    li(
      class="aside_nav_item"
      v-for="item in aside"
      :data-level="level"
      :data-order="item.order"
    )
      span(@click="scrollToAnchor($event)") {{ item.title }}
      <document-aside v-if="item.children" :aside="item.children" :level="level + 1" :active="active"/>

</template>

<script>

import functions from '@/functions.js'
import SimpleBar from 'simplebar'

export default {
  name: 'DocumentAside',

  props: {
    aside: {
      type: Array,
      required: true
    },

    level: {
      type: Number,
      default: 1
    },

    active: {
      type: Number,
      required: true
    }
  },

  methods: {
    scrollToAnchor(e) {
      let index = +e.target.parentNode.dataset.order
      let editor_container = document.querySelector('.document_container')
      let scroll_container = document.querySelector('.simplebar-content-wrapper')
      let headers = editor_container.querySelectorAll('.editor_block')
      let range = document.createRange()
      let sel = window.getSelection()
      range.setStart(headers.item(index).querySelector('.ProseMirror').children[0], 0)
      range.collapse(true)
      sel.removeAllRanges()
      sel.addRange(range)
      scroll_container.scrollTop = headers.item(index).offsetTop - 50
      this.$emit('update-active', index)
      setTimeout(() => functions.markCurrentChapter(index), 10)
    }
  }
}

</script>

<style lang="scss" scoped>

@import '@/scss/mixins.scss';

$base-fs: 1.2rem;
$base-lh: 2;

.aside_nav_item {
  cursor: pointer;

  span {
    display: block;
    margin-bottom: 0.5rem;

    &:hover {
      color: $primary_color;
    }
  }

  &.--active {

    & > span {
      color: $primary_color;
    }
  }
}

@for $i from 1 through 3 {
  [data-level="#{$i}"] {

    @if $i == 1 {
      list-style: disc;
      font-weight: 600;
    } @else if $i == 2 {
      list-style: square;
      margin-left: 1rem;
      font-weight: 600;
    } @else {
      list-style: circle;
      margin-left: 2rem;
      font-weight: 400;
    }

    span {
      line-height: $base-lh;
    }

    font-size: $base-fs - 0.15rem;
    line-height: $base-lh - 0.15;
  }

  $base-fs: $base-fs - 0.15rem;
  $base-lh: $base-lh - 0.15;
}

</style>