<template>
  <svg class="_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 341.333 341.333">
    <rect x="128" y="128" width="85.333" height="85.333"/>
    <rect x="0" y="0" width="85.333" height="85.333"/>
    <rect x="128" y="256" width="85.333" height="85.333"/>
    <rect x="0" y="128" width="85.333" height="85.333"/>
    <rect x="0" y="256" width="85.333" height="85.333"/>
    <rect x="256" y="0" width="85.333" height="85.333"/>
    <rect x="128" y="0" width="85.333" height="85.333"/>
    <rect x="256" y="128" width="85.333" height="85.333"/>
    <rect x="256" y="256" width="85.333" height="85.333"/>
  </svg>
</template>

<script>

export default {
  name: 'IconCards'
}

</script>