<template lang="pug">

  #app(:class="{'--dark' : getTheme}")
    transition(name="fade" mode="out-in")
      router-view

</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'App',

  computed: {
    ...mapGetters(['getTheme'])
  },

  mounted() {
    this.axios.get('/mocks/contents.json')
      .then(response => {
        this.contents = response.data
        this.$store.dispatch('storeTableContents', response.data)
      })
      .catch(error => {
        console.error(error)
      })
  }
}

</script>

<style lang="scss">

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');
@import  '@/scss/mixins.scss';

html, body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  overflow-y: hidden !important;
}

#app {
  background-color: $body_color;
  min-height: inherit;
  min-width: 1200px;

  &.--dark {
    background-color: $body_dark;

    .tooltip_form {
      background-color: $body_color;

      .button {

        ._icon {
          fill: $body_text;
        }
      }
    }
  }
}

.app_wrapper {
  height: 100vh;
}

main {
  height: calc(100% - 33px);

  [data-simplebar] {
    height: inherit;

    .simplebar-content > .aside_nav_list {
      padding: 0 15px 0 20px;
    }
  }

  .container {
    padding: 30px 0;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.app_contents_table {

  tr {
    cursor: pointer;

    th, td {

      &:nth-child(2),
      &:nth-child(3) {
        width: 140px;
      }
    }
  }

  &.--dark {

    .table {
      background-color: $body_text;
      color: $light_color;

      thead {

        th {
          color: $light_color;
        }
      }

      tr {

        &:hover {
          background-color: $light_text !important;

          th, td {
            color: $body_text;
          }
        }
      }
    }
  }
}

.document_editor {

  .ProseMirror {
    min-height: inherit;
    outline: none;
    border: 1px dashed transparent;
    padding: 20px 20px 40px;
    transition: border-color 0.2s linear;

    @import '@/scss/editor.scss';

    &:not(.ProseMirror-focused):hover,
    &.ProseMirror-focused {
      border-color: $light_text;
      transition: border-color 0.2s linear;
    }
  }

  &.--dark {
    background-color: $body_text;
    color: $light_color;

    .ProseMirror {

      blockquote {
        color: $body_text;
      }

      table {

        tr {

          th, td {
            color: $light_color;
          }
        }
      }
    }
  }
}

.tooltip_form {
  position: absolute;
  padding: 7px 10px;
  border-radius: 6px;
  box-shadow: 0 1px 2px 1px rgba(0, 1, 0, .2);
  z-index: -1;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -100%);
  background: $body_text;
  color: $light_color;
  opacity: 0;
  transition: transform .2s cubic-bezier(.25, .46, .45, .94) .1s, opacity .2s cubic-bezier(.25, .46, .45, .94);

  &.--active {
    opacity: 1;
    z-index: 100;
    transform: translate(-50%);
    transition: transform .2s cubic-bezier(.25, .46, .45, .94), opacity .2s cubic-bezier(.25, .46, .45, .94) .1s;
  }

  ._formgroup {
    display: flex;

    .input {
      border-radius: 5px;
    }

    .button {
      flex: none;
      width: 27px;
      height: 27px;
      background-color: transparent;
      border-color: transparent;
      padding: 0;
      margin-top: 0;
      display: inline-flex;
      align-items: center;
      margin-left: 5px;
      cursor: pointer;

      ._icon {
        fill: $light_color;
        display: block;
      }

      &._check {

        ._icon {
          width: 60%;
          height: 60%;
        }
      }

      &._close {

        ._icon {
          width: 50%;
          height: 50%;
        }
      }
    }
  }
}

.notices.is-top {
  padding-top: 70px;
}

</style>
