@import 'mixins';

h1 {
  font-weight: 500;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 500;
  font-size: 1.35rem;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

p {
  margin-bottom: 1rem;
}

ul, ol {
  margin: 1rem 0 1rem 2rem;
}

ul li {
  list-style: disc;
}

li {

  p {
    margin-bottom: 0;
  }
}

strong {
  color: inherit;
}

blockquote {
  margin: 1rem 0;
  border-left: 3px solid $light_text;
  padding: 1rem;
  margin-left: 1rem;
  background-color: $body_color;

  & * {
    font-style: italic;
  }
  
  & > *:last-child {
    margin-bottom: 0;
  }
}

.tableWrapper {
  width: 100%;
  overflow: auto;
  margin: 1rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  min-width: 100% !important;

  p {
    margin-bottom: 0;
  }

  th, td {
    border: 1px solid $light_text;
    padding: 0.5rem;
  }
}